body{
  /*background: url('../assets/bg_16.jpg') no-repeat;*/
}

/*#background*/
#background{
  /* width: 1366px; */
  /* height: 854px; */
}
#background > img{
  position: absolute;
  z-index: -11; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
}
#top{
  width: 80%;
  height: 50px;
  margin: 0 auto;
}
#logo{
  width: 230px;
  height: 60px;
  float: left;
  background-image: url('../assets/logo.png');
}
#tianqi{
  width: 420px;
  height: 60px;
  float: right;
}
#tianqi_iframe{
  width: 420px;
}
#search{
  width: 100px;
  height: 30px;
  position: absolute;
  background: url('../assets/top_page.png') center;
  top: 0px;
  z-index: 9000;
  cursor: pointer;
  left: 43%;
}
#gifbg{
  width: 100%;
  height: 100%;
  background: url('../assets/top_page.gif');
}
#search_page{
  width: 100%;
  height: 500px;
  background: url('../assets/new_page_bg.png');
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  z-index: 9000;
}
#search_page_con{
  width: 100%;
  height: 450px;
  margin: 0px auto 10px auto;
}
#search_page_btn{
  width:100px;
  height: 40px;
  background: url('../assets/new_page_bottom_butn.png');
  margin: 0 auto;
  cursor: pointer;
}
#search_iframe{
  width: 100%;
  height: 100%;
}
